<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="../wwwroot/css/site.css" /> <!-- común -->
    <link rel="stylesheet" href="~/css/comentario.css" />
    </head>
<body>
    <form action="@Url.Action("Comenta","Home")" method="POST">

        <input type="hidden" name="id_local" value=@ViewData["id_local"] />
        <input type="hidden" name="username" value=@ViewData["Nombre"] />
        <div id="cajaComentario">
        <label>Valoracion</label>
        <input id="valoracion" type="number" name="valoracion" min="1" max="5" required />

        <label>Comentario</label>
        <input id="cajaTexto" type="text" name="texto" required />
        </div>
        <button type="submit"> Publicar </button>
    </form>

    <div class="alert alert-danger" role="alert">
        @ViewData["Mensaje"]
    </div>

    <form action="@Url.Action("Local","Home")" method="POST">
        <input type="hidden" name="id_local" value=@ViewData["id_local"] />
        <button type="submit">Volver al local</button>
    </form>

</body>
</html>