@{
    ViewData["Title"] = "Contacto";
}

<h1> Contacto </h1>
<p>
    <img src="~/lib/pictures/check_icon.png"/> <h3> Nuestros agentes estarán encantados de ayudarle con cualquier problema. <h3>
</p>
<p>
    <img src="~/lib/pictures/phone_call.png" /> <h3> Horarios de apertura: <h3> <h4> Lunes a viernes: 9:00 a 16:00 </h4>
            <h4> Sábados y domingos cerrado. </h4>
</p>
<p>
    <img src="~/lib/pictures/write_pen.png" /> <h3> Si nuestros agentes están ocupados, manda un mail a quejas@safeparty.com <h3>
</p>