@{
    ViewData["Title"] = "Contacto";
}

<h1> Contacto </h1>
<p> Bienvenido a la página de contacto de Safeparty. Si usted necesita cualquier tipo de ayuda
    nuestros empleados estarán encantados de atenderle.
</p>