@model Proyecto_Safeparty.Models.DatoCompuesto
@{
    ViewData["Title"] = Model.establecimiento.nombre;
}

<!DOCTYPE html>
<html lang="en">
<body>
    @ViewData["Title"]

    <h3>Direccion : </h3>

    <!-- Seccion de comentarios -->
    <!-- Foreach -->

</body>
</html>