@{
    ViewData["Title"] = "Mapa AibertoFTGGinal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mapa de Google Maps </title>
    <link rel="stylesheet" href="~/css/mapa.css">
    <link rel="stylesheet" href="~/js/mapa.js">
    <script src="~/js/data.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div id="map"></div>
    <script src="~/js/mapa.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByClBVfKslcubKBnws5Ljye7VKl44hfPQ&callback=initMap"></script>
</body>
</html>


