@{
    ViewData["Title"] = "Mapa";
}

<!DOCTYPE html>
<html lang="en">
<head>

 
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Mapa de Google Maps </title>
    <link rel="stylesheet" href="~/css/mapa.css" />
    <link rel="stylesheet" href="~/js/mapa.js">
    <link rel="stylesheet" href="~/css/site.css" /> <!-- común -->
    <script src="~/js/data.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="circulo" id="uno"></div>
    <div class="circulo" id="dos"></div>
    <div class="circulo" id="tres"></div>
    <div class="circulo" id="cuatro"></div>
    <div class="circulo" id="cinco"></div>
    <div class="circulo" id="seis"></div>
    <div class="circulo" id="siete"></div>
    <div class="circulo" id="ocho"></div>
    <div id="map"></div>
    <script src="~/js/mapa.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByClBVfKslcubKBnws5Ljye7VKl44hfPQ&callback=initMap"></script>
</body>
</html>


