@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>

</body>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
<link rel="manifest" href="/site.webmanifest">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
