@{
    ViewData["Title"] = "Prueba numero uno";
}

<h1> Aqui tienes todo lo que necesitas (espero...) </h1>
<p> Un saludo, Daniel. </p>
<form action="/prueba" method="post">
    <button type="submit"> Boton 1 </button>
</form>
