<!DOCTYPE html>
<html lang="en">
<body>
    <form action="@Url.Action("Login","Acceso")" method="POST">
        <label>Username</label>
        <input type="text" name="username"/>

        <label>Password</label>
        <input type="password" name="password"/>

        <button type="submit">Login</button>
    </form>



</body>
</html>