@{
    ViewData["Title"] = "Registro";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Login </title>
    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../wwwroot/css/site.css" /> <!-- común -->
    <link rel="stylesheet" href="~/css/registrocss.css" /> <!-- específico -->
    <link rel="icon" href="~/lib/favicon_io/favicon-32x32.png" type="image/x-icon">
    <script src="scripts.js" defer></script> <!-- Mirar este -->
</head>
<body>
    <form action="@Url.Action("Registro","Acceso")" method="POST">

        <label>Nombre</label>
        <input type="text" name="nombre" required/>

        <label>Apellidos</label>
        <input type="text" name="apellidos" required/>

        <label>Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento" required/>

        <label for="genero">Genero</label>
        <select name="genero" id="genero" required>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Prefiero no decirlo">Prefiero no decirlo</option>
        </select>

        <label>Username</label>
        <input type="text" name="username" required/>

        <label>Password</label>
        <input type="password" name="password" required/>

        <label>Email</label>
        <input type="text" name="email" required/>

        <button type="submit">Registra</button>
    </form>

    <div class="alert alert-danger" role="alert">
        @ViewData["Mensaje"]
    </div>

    <a id="redireccion" href="@Url.Action("Login","Acceso")"> ¿Tienes una cuenta? ¡Loguéate ya!</a>
</body>
</html>