@font-face {
    font-family: "Bagnard";
    src: url("https://github.com/sebsan/Bagnard/blob/master/Bagnard.otf");
}

@font-face {
    font-family: "CooperhewittLightItalic";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-LightItalic.ufo");
}

@font-face {
    font-family: "CooperhewittBold";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-Bold.ufo");
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

a:hover {
    color: #fff;
}

a:hover:after {
    width: 100%;
}

h2 {
    font-family: CooperhewittLightItalic;
    font-size: 40px;
    margin-bottom: 0.8vw;
    line-height: 50px;
}

h1.titulo {
    font-family: Bagnard;
    font-size: 30px;
    line-height: 8px;
}

h3 {
    font-family: CooperhewittBold
    font-size: 3vw;
}
