@font-face {
    font-family: "Bagnard";
    src: url("https://github.com/sebsan/Bagnard/blob/master/Bagnard.otf");
}

@font-face {
    font-family: "CooperhewittLightItalic";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-LightItalic.ufo");
}

@font-face {
    font-family: "CooperhewittBold";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-Bold.ufo");
}

#textologin {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: 'Berlin Sans FB';
}

#uno {
    width: 150px;
    height: 150px;
    top: -50px;
    right: -20px;
    background-color: #dd22e7a6 ;
}

#dos {
    width: 130px;
    height: 130px;
    top: -50px;
    left: -20px;
    background-color: #a772e0c0;
}

#tres {
    width: 170px;
    height: 170px;
    bottom: -30px;
    left: 20px;
    background-color: #db1f7bf2;
}

#cuatro {
    width: 100px;
    height: 100px;
    top: -30px;
    right: -20px;
    background-color: #a93968e6;
}

#cinco {
    width: 40px;
    height: 40px;
    top: -50px;
    left: -20px;
    background-color: #5d3e6dcc;
}

#seis {
    width: 50px;
    height: 50px;
    top: 30px;
    left: -20px;
    background-color: #c32878a6;
}

#siete {
    width: 150px;
    height: 150px;
    bottom: -40px;
    right: -20px;
    background-color: #ad3dc1;
}

#ocho {
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: -20px;
    background-color: #ae80dbbf;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin-left: 25vw;
}

label {
    display: block;
    margin: 10px 0;
    font-family: 'Berlin Sans FB';

}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/*button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}*/

    button:hover {
        background-color: #45a049;
    }

header {
    visibility: hidden;
}

a#registro {
    background-color: white;
    font-family: 'Berlin Sans FB';
    font-size: 25px;
    margin-left: 25vw;
    width: 500px;
    height: 40px;
    
}

h1#titulo {
    font-family: CooperhewittBold;
    font-size: 30px;
    margin-left: 7vw;
    text-align: center;
}

div#alerta {
    margin-left: 25vw;
    margin-right: 2px;
    margin-top: auto 5px;
    background-color: white;
    text-align: center;
    width: 500px;
    height: 25px;
}

div#alerta.alert.alert-danger:empty {
    visibility: hidden;
}

