<!-- para -->

html {
  font-size: 10px;
}

@font-face {
    font-family: "Bagnard";
    src: url("https://github.com/sebsan/Bagnard/blob/master/Bagnard.otf");
}

@font-face {
    font-family: "CooperhewittLightItalic";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-LightItalic.ufo");
}

@font-face {
    font-family: "CooperhewittBold";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-Bold.ufo");
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(45deg, #f562da, #5d0296);
    background-size: 400% 400%;
    animation: gradientAnimation 60s infinite;
}

/* 
     ANIMACIÓN EN EL FONDO
*/
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    margin-top: 100px;
}

.card {
    transition: transform 0.5s;
}

    .card:hover {
        transform: scale(1.05);
    }

.btn-group {
    margin-top: 20px;
}
/*
    OTRAS COSAS
*/
