<!-- para -->

html {
  font-size: 10px;
}

@font-face {
    font-family: "Bagnard";
    src: url("https://github.com/sebsan/Bagnard/blob/master/Bagnard.otf");
}

@font-face {
    font-family: "CooperhewittLightItalic";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-LightItalic.ufo");
}

@font-face {
    font-family: "CooperhewittBold";
    src: url("https://github.com/cooperhewitt/cooperhewitt-typeface/tree/master/files/CooperHewitt-Bold.ufo");
}
a, button {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

    a span, button span {
        position: relative;
        z-index: 2;
    }

    a:after, button:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff003b;
        transition: all .35s;
    }

    a:hover, button:hover {
        color: rgba(255, 0, 0, 0.8);
    }

        a:hover:after, button:hover:after {
            width: 100%;
        }

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(45deg, #f562da, #5d0296);
    background-size: 400% 400%;
    animation: gradientAnimation 60s infinite;
}

/* 
     ANIMACIÓN EN EL FONDO
*/
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    margin-top: 100px;
}

.card {
    transition: transform 0.5s;
}

    .card:hover {
        transform: scale(1.05);
    }

.btn-group {
    margin-top: 20px;
}

div.container {
    margin-top: 10px;
}

.footer {
    background-color: #ffffff; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    height: 40px; /* Altura del pie de página */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

footer.border-top.footer.text-muted {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Berlin Sans FB';
}

/*
    OTRAS COSAS
*/
